
.canvas1{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    /* background: radial-gradient(var(--darkGray-light-color),var(--darkGray-color)); */
}

.canvas2{
    height: 400px;
    max-height: 600px;
    width: 100%;
    max-width: 600px;
  display: block;
}