.button{
    padding: 7px 15px;
    border: 1px solid var(--teal-light-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}


.primary-btn{
    background-color: var(--primary-btn-bg);
    color: var(--primary-btn-color);
}

.primary-btn:hover{
    background-color: var(--primary-btn-bg-hover);
    color:  var( --primary-btn-color-hove);
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.888));
}

.secondary-btn{
    background-color: var(--secondary-btn-bg);
    color: var(--secondary-btn-color);
}

.secondary-btn:hover{
    background-color: var(--secondary-btn-bg-hover);
    color: var(--secondary-btn-color-hover);
    filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.888));
}


.pink{
    color: var(--pink-color);
}

.teal{
    color: var(--teal-light-color);
}

.purple{
    color: var(--Purple-color);
}
.green{
    color: var(--Green-color);
}


.bg{
   

    background: linear-gradient(transparent,
    hsl(from var(--gradient-color) h s l / .5)10%,
    hsl(from var(--gradient-color) h s l / .9));
     margin: 0;
    border-radius: 5px;
  }

  .active{
    background-color: var(--teal-color);
    border-radius: 5px;
    width: fit-content;
    padding: 0 20px;
  }