/* impots */


@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts-3by.pages.dev/roboto-v32-latin/roboto-v32-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("https://fonts-3by.pages.dev/roboto-v32-latin/roboto-v32-latin-italic.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts-3by.pages.dev/roboto-v32-latin/roboto-v32-latin-500.woff2")
    format("woff2");
}

:root {
  /*Colors */
  --darkGray-color: hsl(240, 4%, 16%);
  --darkGray-light-color: hsl(240, 4%, 26%);
  --darkGray-dark-color: hsl(240, 4%, 10%);

  --teal-color: hsl(180, 89%, 22%);
  --teal-light-color: hsl(180, 89%, 32%);
  --teal-dark-color: hsl(180, 89%, 14%);

  --Gray-color: hsl(240, 6%, 38%);
  --Gray-light-color: hsl(240, 6%, 58%);
  --Gray-dark-color: hsl(240, 6%, 24%);

  --gradient-color: hsl(180, 100%, 25%);


  /* Font family */

  --ff1: "Roboto";
}

/* Modern CSS Boilerplate */

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  background-color: var(--darkGray-color);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--ff1);
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Anchor defaults */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
  display: inline-block;
}
a:hover,
a:focus {
  text-decoration: none;

}

/* Images and media */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

i{
    display: inline-block;
}

/* Form elements inherit font */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header nav{
    padding: 10px 100px;
    position: relative;
    background-color: var(--darkGray-color);
    border-block: 1px solid white ;

}

header nav .logo-menucta{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo-menucta .menu-text{
    font-weight: 500;
     cursor: pointer;
}
header nav .logo-menucta .menu-icon{
    display: none;
    border-radius: 25%;
    border: none;
}


header nav .nav-links ul{
    position: absolute;
    height: calc(100vh - 58px);
    width: 100vw;
    top: 100%;
    transform: translateX("100%");
    left: 0;
    z-index:  1;
    background-color: hsl(from var(--darkGray-dark-color) h s l / .6);
    backdrop-filter: blur(10px);
    padding: 30px 100px;
    overflow: hidden;
}



header nav .nav-links ul li a{
    font-size: 6vw;
    width: fit-content;
    letter-spacing: 5px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    text-wrap: nowarp;;
}

header nav .nav-links ul li a::after{
    content: "";
    background-color: white;
    width: 100%;
    height: 90%;
    position: absolute;
    transition: all .3s ease-in-out;
    z-index: -1;
    margin-left: 10px;
    border-radius: 5px;
}
header nav .nav-links ul li a:hover:after{
    transform: translatex(-100%);
    background-color: var(--teal-color) ;

}

/* Hero section */

.hero-section{
  position: relative;
  height: calc(100vh - 58px);
  width: 100vw;
  
}

.hero-section .text-content{
  position: absolute;
  top: 35%;
  left: 0%;
  padding: 0 100px;
}

.hero-section .text-content .heading{
  font-size: 5vw;
  line-height: 1.2;
  letter-spacing: 2px;
}
.name{
  color: var(--teal-light-color);
  padding-left: 10px;
}

.hero-section .cta-section{
  padding: 0 100px;
  position: absolute;
  top: 80%;
  left: 0;
}
.hero-section .cta-section a{
  font-size: 1.2rem ;
  letter-spacing: 2px;
  color: var(--teal-light-color);
}

.about-me{
  height: 100vh;
}
.section{
  margin: 50px 100px;
}

.about-me .intro .heading{
  font-size: 4vw;
  width: fit-content;
  color: var(--teal-light-color);
  border-bottom:5px solid var(--Gray-dark-color);
  line-height: 1.2;
}

.about-me .intro .subtext{
  font-size: 2vw;
  padding-top: 30px;
  font-weight: 500;
}
.about-me .intro .description{
  font-size: 1.8vw;
}


.wrapper>h2{
  width: fit-content;
 font-size: 2vw;
 margin-bottom: 30px;
 border-bottom: 2px solid var(--teal-light-color);
}

.wrapper .container{
  position: relative;
}

svg{
  width: 80%;
}

svg .mask{
  width: 0;
}


.wrapper .container a[data-tutorial-hell]{
  position: absolute;
  top: 2%;
  left: 37%;
}
.wrapper .container a[data-now]{
  position: absolute;
  top: 2%;
  left: 77%;
}

.content{
  display: flex;
  gap: 50px;
  padding-top: 50px;
}

.phase{
  min-width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px;
  border-radius:5px ;
}

 .phase h3{
  font-size: 2vw;
  border-bottom: 2px solid var(--teal-light-color);
  font-weight: 500;
}
.phase p{
  font-size: 1.2vw;
  font-weight: 400;
}

 .phase strong{
  font-weight: 500;
}

 .phase ol li{
  width: fit-content;
  border-bottom: 1.5px solid var(--Gray-light-color);
  font-size: 1.2vw;

}

.chart{
  margin-block: 50px;
}

.chart h3{
  width: fit-content;
    font-size: 2vw;
    border-bottom: 2px solid var(--teal-light-color);
  font-weight: 500;
}

.chart canvas{
  display: flex;
  justify-self: center;
  margin-block:50px ;
}

.fake{
  height: 100vh;
}


/* Responsive styles */
@media (max-width: 900px) {
  header nav {
    padding: 10px 30px;
  }
  header nav .nav-links ul {
    padding: 30px 30px;
  }
}

@media (max-width: 600px) {
  header nav {
    padding: 10px 10px;
  }
  header nav .logo-menucta .menu-text {
    display: none;
  }
  header nav .logo-menucta .menu-icon {
    display: block;
    cursor: pointer;
  }
  header nav .nav-links ul li a {
    font-size: 10vw;
    padding: 8px;
  }
  header nav .nav-links ul {
    padding: 20px 10px;
  }

.hero-section .text-content{
  padding: 0 30px;
}

.hero-section .cta-section{
  padding: 0 30px;
  top: 70%;
}
.hero-section .cta-section a{
  font-size: 1rem ;
}

}